<?xml version="1.0" encoding="UTF-8"?>
<!-- staging，预发环境日志配置 -->
<configuration status="INFO">
    <appenders>
        <!-- 本地全量日志文件 -->
        <XMDFile name="XMDFileAppender" fileName="app.log"/>
        <!-- 本地错误日志文件 -->
        <XMDFile name="XMDErrorFileAppender" fileName="error.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </XMDFile>
    </appenders>

    <!-- AsyncLogger的Disruptor坑还很多，日志中心建议使用同步Logger -->
    <loggers>
        <root level="INFO">
            <AppenderRef ref="XMDFileAppender"/> <!-- 本地全量日志 -->
            <AppenderRef ref="XMDErrorFileAppender"/> <!-- 本地错误日志 -->
        </root>
    </loggers>
</configuration>